/*** BASE STYLE ***/
body {
    font-family: 'Raleway', sans-serif;
    color: #2b2b2b;
}

/*** GRID ***/
.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}

/*** HEADER ***/
header {
    height: 500px;
    background:url('../images/sunset-sky.jfif');
    background-size: cover;
    background-position: center;
}
header h1{
    font-size:18px;
    color:aliceblue;
    text-align: left;
    letter-spacing: 6px;
    padding: 65px 0 65px 25px;
    
}
nav {
    float: right;
    padding: 65px 25px;
    
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    padding-left: 30px;
    color:aliceblue;
}
header h2 {
    text-align: center;
    font-size: 72px;
    font-variant: small-caps;
    width: 1000px;
    clear: both;
    padding-left: 110px;
    padding-top: 50px;
    color:aliceblue;
}

/*** ABOUT ***/
#about .full-width {
    padding: 80px 0;
}
#about h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    font-weight: bold;
    padding-left: 50px;
}
#about p {
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
#about a:link {
    color:rgb(24, 137, 202);
    text-decoration: none;
}
#about a:hover {
    color: rgb(219, 134, 6);
}

/*** PORTFOLIO ***/
#portfolio .full-width {
    padding: 80px 0;
}
#portfolio h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    font-weight: bold;
    padding-left: 50px;
}
/*** CONTACT ***/
#contact .full-width {
    padding: 80px 0;
}
#contact h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    font-weight: bold;
    padding-left: 50px;
}
#contact p {
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
#contact a:link {
    color:rgb(24, 137, 202);
    text-decoration: none;
}
#contact a:hover {
    color: rgb(219, 134, 6);
}

#contact form {
    text-align: center;
}
/*** FOOTER ***/
#footer .full-width {
    padding: 80px 0;
}

/*
list of font families already added to HTML sheet heading section in case I want to use them.
font-family: 'Cormorant Garamond', serif;
font-family: 'Eczar', serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Trirong', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Satisfy', cursive;
*/